.game {
    background-color: burlywood;
    display: flex;
    flex-direction: row;

    margin: auto;

    width: 750px;
    height: 750px;
}

.tile {
    background-color: green;
    width: 200px;
    height: 100px;

    border: 1px solid black;
    border-style: outset;
}

.column {
    list-style-type: none;
}

.row {
    background-color: blue;
}

.explored {
    background-color: red;
}