
.header {
    margin: 5px auto;
    width: 250px;
    background-color: green;
    font-size: 15px;
}
.clock-box {
    font-family: monospace;
    display: flex;
    height:50px;
    width:250px;
    margin:auto;

    border: 1px black solid;

    background: orange;
    font-size:15px;
    color: white;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    
}

.clock-box ul {
    list-style-type: none;
}

.time-box li {
    text-align: right;
    letter-spacing: normal;

}

.tab-header {
    background-color: blue;
    display:flex;
    flex-direction: row;
    margin: auto;
    width: 150px;
    list-style: none;
}

.tab-header li {
    background-color: red;
    
    border: 1px solid black;
    border-radius: 5px 5px 0 0;
}