
.header {
    margin: 5px auto;
    width: 250px;
    background-color: green;
    font-size: 15px;
}

.split-header {
    margin: 5px auto;
    width: 125px;
    background-color: green;
    font-size: 15px;
}

.holder-box {
    width: 250px;
    height: 200px;
    margin: auto;
}

.clock-box {
    font-family: monospace;
    display: flex;
    height:50px;
    width:250px;
    margin:auto;

    border: 1px black solid;

    background: orange;
    font-size:15px;
    color: white;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    
}

.clock-box ul {
    list-style-type: none;
}

.weather-box {
    font-family: monospace;
    display: flex;
    height:100px;
    width:250px;
    margin:auto;

    border: 1px black solid;

    background: greenyellow;
    font-size:15px;
    color: white;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}

.time-box li {
    text-align: right;
    letter-spacing: normal;

}



.tab {
    width: 120px;
    float: left;
    margin: 0 5px 0 0;
}

.auto-fill {
    width: 120px;
    float: right;
    margin: 0 0 0 5px;

}

.tab-header {
    display:flex;
    flex-direction: row;
    margin: auto auto auto 0;
    width: 100px;
    list-style: none;
}

.tab-header li {
    background-color: rgb(0, 225, 255);
    font-size: 10px;
    padding: 0 5px 0 5px;
    border: 1px solid black;
    border-radius: 5px 5px 0 0;
    width: 32.6px
}

.tab-header li:hover {
    background-color: black;
    color: white;
}

.tab-header .tab-on {
    border-bottom: none;
    font-weight: bold;
}

.tab-content {
    display: flex;
    background-color: rgb(0, 225, 255);
    border: 1px solid black;
    border-top: none;
    margin: auto auto auto 0;
    width: 98px;
    height: 125px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    color: white;

}

